<div>
    <h2>To-Do List</h2>

    <div class="todo-entry">
        <label for="newTodo">Add new To-Do Item:</label>
        <input id="newTodo" type="text" [(ngModel)]="newTodoText" />
        <button type="submit" (click)="addTodo()">Submit</button>
        <div *ngIf="newTodoError" class="empty-error">
            * To-Do Item cannot be empty.
        </div>
    </div>
    
    <ul class="todo-list">
        <li *ngFor="let todo of todos">
            <atd-todo-item 
               [todo]="todo" 
               (toggle)="toggleTodo($event)" 
               (delete)="deleteTodo($event)"
            ></atd-todo-item>
        </li>
    </ul>
</div>
