.complete-button {
    min-width: 200px;
}

.delete-button {
    background-color: firebrick;
    min-width: 100px;
}

.todo-item {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    font-style: italic;
    padding: 10px;
}

.todo-text {
    margin: 5px;
    margin-left: 20px;
    overflow: auto;
}

.completed-item {
    background-color:skyblue;
}